@import url("fonts.css");

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #383f4e;
  font-size: 62.5%;
}
body {
  font-size: 16px;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  body {
    background-color: #f5f6f8;
  }
}
@media print {
  body {
    background-color: #fff;
    font-size: 9pt;
  }
}

*,
:after,
:before {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
ol,
p,
ul {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
img {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
a {
  color: inherit;
  font-family: inherit;
  -webkit-text-decoration: none;
  text-decoration: underline;
}
@supports not (display: grid) {
  @media (min-width: 1024px) {
    .old__zone {
      position: relative;
    }
    .old__zone:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}
.zone {
  background-color: #fff;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .zone {
    max-width: 115.2rem;
  }
}
@media (min-width: 1200px) {
  .zone {
    margin: 0 auto;
  }
}
.zone--footer {
  background-color: #2a303b;
}
.icon__home,
.icon__nav-connexion,
.icon__nav-en-continu,
.icon__search {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
}
.logo__lemonde {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}
.logo--full {
  height: 100% !important;
  width: 100% !important;
}
.icon__home {
  background-image: url("../4b339a42860b3043504376b1cf09df1cc8d04c01.svg");
  height: 2.4rem;
  width: 2.4rem;
}
.icon__search {
  background-image: url("../aace6ccf2f26a2b58506b9b083413726e8b888a5.svg");
}
.icon__nav-en-continu {
  background-image: url("../b5ec5ce9bc3066772854a6330ec62fec6f3630f3.svg");
  height: 2.4rem;
  width: 2.4rem;
}
.logo__lemonde {
  background-image: url("../6e1311f12cb5fc601326a83396304e45984f6ec7.svg");
  height: 3rem;
  width: 13.8rem;
}
.icon__nav-connexion {
  background-image: url("../7922616253cc97cd12765099d1781ae4810d23d2.svg");
  height: 2.4rem;
  width: 2.4rem;
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@media (min-width: 1024px) {
  @supports (font-variation-settings: normal) {
  }
}
@media (min-width: 1024px) {
  @supports (font-variation-settings: normal) {
  }
}
@media (min-width: 1024px) {
  @supports (font-variation-settings: normal) {
  }
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
.page__view-more--trigger:not(:checked) + .page__actions-container {
  overflow: visible;
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
.Nav__item a,
.Nav__item-link {
  transition: -webkit-text-decoration 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: text-decoration 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: text-decoration 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-text-decoration 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Burger__right-arrow:after {
  background-image: url("../5a03162a4dec6301cc22ff587b8a46767bb52997.svg");
  content: " ";
  height: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
}
#Header {
  align-items: center;
  background-color: #fcfcfd;
  position: fixed;
  top: 0;
  transition: top 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s ease;
  width: 100%;
  z-index: 7;
}
@media print {
  #Header {
    display: none;
  }
}
@media (min-width: 1024px) {
  #Header {
    background-color: #fff;
    position: relative;
  }
}
#Header .header__center {
  align-self: center;
  display: flex;
}
#Header .header__left {
  justify-content: flex-start;
  width: 5.6rem;
}
@media (min-width: 1024px) {
  #Header .header__left {
    align-self: flex-end;
    padding-left: 4.8rem;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #Header .header__left {
    padding-left: 0;
  }
}
#Header .header__right {
  justify-content: flex-end;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1200px) {
  #Header .header__right {
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  #Header .header__right {
    align-self: flex-end;
    width: 100%;
  }
}
#Header .Header {
  align-items: center;
  background-color: #fff;
  border-bottom: 0.1rem solid #eff0f3;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0 auto;
  max-width: 115.2rem;
  position: relative;
}
@media (max-width: 1199px) and (min-width: 1024px) {
  #Header .Header {
    padding-right: 4.8rem;
  }
}
@media (max-width: 1023px) {
  #Header .Header {
    height: 6rem;
    padding: 1.5rem 1.2rem 1.5rem 0;
  }
}
@media (min-width: 1024px) {
  #Header .Header {
    border-bottom: 0;
  }
}
@media (min-width: 1024px) {
  #Header .Header {
    height: 13.2rem;
    transition: height 0.4s ease-in-out;
  }
}
#Header .Header__jelec {
  align-items: center;
  align-self: flex-end;
  background-image: url("../e7765b652236d6fee57e1ed890506520d2591671.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.1rem solid #eff0f3;
  color: #717b8e;
  display: none;
  flex-direction: column;
  font-size: 1.3rem !important;
  font-weight: 500;
  height: 5.4rem;
  line-height: 1.1;
  padding-left: 7rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: 8rem;
}
html:not(.fonts-loaded) #Header .Header__jelec,
html:not(.fonts-loaded) #Header .Header__jelec > * {
  letter-spacing: 0.314px;
}
@media (min-width: 1024px) {
  #Header .Header__jelec {
    display: flex;
  }
}
#Header .Header__jelec p {
  height: 5.4rem;
  line-height: 1.6rem;
  margin-left: 9rem;
  padding-top: 1rem;
  font-size: 1.4rem;
}
#Header .Header__jelec:hover p {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.2em;
}
#Header .Header__logo {
  margin-bottom: 0;
  padding-left: 0;
}
@media (min-width: 1024px) {
  #Header .Header__logo {
    align-self: center;
    padding-left: 0;
  }
}
#Header .Header__logo span {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 8.9rem;
}
@media (min-width: 360px) {
  #Header .Header__logo span {
    height: 2.3rem;
    width: 9.9rem;
  }
}
@media (min-width: 768px) {
  #Header .Header__logo span {
    height: 3rem;
    width: 13.8rem;
  }
}
@media (min-width: 1024px) {
  #Header .Header__logo span {
    height: 6.1rem;
    width: 29rem;
  }
}
#Header .Header__actions {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: flex-end;
}
/* html:not(.fonts-loaded) #Header .Header__actions,html:not(.fonts-loaded) #Header .Header__actions>*{
    letter-spacing:.314px
} */
@media (min-width: 360px) {
  #Header .Header__actions {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  #Header .Header__actions {
    font-size: 1.4rem;
    margin-bottom: 2.8rem;
  }
}
#Header .Header__actions .login-info {
  display: none;
}
@media (min-width: 576px) {
  #Header .Header__actions .login-info {
    display: block;
    margin-left: 0.8rem;
  }
}
@media (min-width: 1024px) {
  #Header .Header__actions .login-info {
    display: none;
  }
}
@media (min-width: 1200px) {
  #Header .Header__actions .login-info {
    display: block;
  }
}
#Header .Header__actions .Header__connexion {
  align-self: center;
  display: flex;
  padding: 0.8rem 0;
  -webkit-text-decoration: none;
  text-decoration: none;
}
#Header .Header__actions .Header__connexion:hover .icon__nav-connexion {
  background-image: url("../65e57413a2c5c04da397440c38538867cc5834d4.svg");
}
#Header .Header__actions .Header__connexion:hover .login-info {
  color: #026b9c;
}
#Header .Header__actions .Header__connexion span {
  align-self: center;
}
#Header .Header__actions .Header__connexion:after {
  background-color: #e2e4e9;
  content: " ";
  display: block;
  height: auto;
  margin: 0 1.6rem 0 0.8rem;
  width: 0.1rem;
}
@media (min-width: 576px) {
  #Header .Header__actions .Header__connexion:after {
    margin: 0 1.6rem;
  }
}
@media (min-width: 1024px) {
  .Header__nav-container {
    height: 5.8rem;
  }
}
.Burger {
  align-content: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 5.6rem;
}
@media (min-width: 1024px) {
  .Burger {
    display: none;
  }
}
.Burger__icon {
  align-self: center;
  background-image: url("../8f1f66814924b61aeda2583969a9f8089b513337.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-shrink: 0;
  height: 2.4rem;
  width: 2.4rem;
}
.Burger__right-arrow:after {
  display: none;
}
.Nav {
  align-items: center;
  background-color: #fff;
  color: #000b15;
  height: auto;
  padding-top: 6rem;
  position: relative;
  width: 100%;
  z-index: 6;
}
@media print {
  .Nav {
    display: none;
  }
}
@media (min-width: 1024px) {
  .Nav {
    border-bottom: 0.1rem solid #eff0f3;
    border-top: 0.4rem solid #026b9c;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.04);
    height: 5.8rem;
    padding-top: 0;
  }
}
@media not all and (-webkit-min-device-pixel-ratio: 0),
  not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
  }
}
.Nav .wrapper {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 115.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}
.Nav .wrapper > ul {
  display: flex;
  white-space: nowrap;
}
@media (min-width: 576px) {
  .Nav .wrapper {
    overflow-x: hidden;
  }
  .Nav .wrapper > ul {
    white-space: normal;
  }
}
@media (min-width: 1024px) {
  .Nav .wrapper {
    overflow-x: hidden;
    padding: 0 1.6rem;
  }
}
@media (min-width: 1200px) {
  .Nav .wrapper {
    padding: 0;
  }
}
.Nav ul {
  list-style: none;
}
.Nav__item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}
@media (min-width: 1200px) {
  .Nav__item {
    font-size: 1.7rem;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .Nav__item:not(:last-child) {
    margin-right: 1.8rem;
  }
}
@media (min-width: 1100px) {
  .Nav__item:not(:last-child) {
    margin-right: 2.7rem;
  }
}
@media (min-width: 1150px) {
  .Nav__item:not(:last-child) {
    margin-right: 3.3rem;
  }
}
@media (min-width: 1200px) {
  .Nav__item:not(:last-child) {
    margin-right: 1.8rem;
  }
}
.Nav__item a {
  color: #2a303b;
  display: inherit;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.Nav__item a:hover {
  color: #026b9c;
}
.Nav__item a:hover .icon__home {
  background-image: url("../ee6dc7c6e3aa0325567a329b68670eed23196233.svg");
}
.Nav__item--droppable > a:after {
  align-self: center;
  background-image: url("../b8da4aca2ebdfd47e808ac2d2ad358d6baac3f25.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 1.4rem;
  margin-left: 0.4rem;
  position: relative;
  transform: none;
  width: 1.4rem;
}
.Nav__item.Nav__item-home {
  border-right: 0.1rem solid #eff0f3;
  padding: 0;
}
@media (min-width: 1024px) {
  .Nav__item.Nav__item-home {
    border-right: none;
  }
}
.Nav__item.Nav__item-home a {
  padding: 1.6rem;
}
.Nav__item.Nav__item-en-continu {
  border-right: 0.1rem solid #eff0f3;
  padding: 0;
}
.Nav__item.Nav__item-en-continu a {
  padding: 1.6rem;
}
.Nav__item.Nav__item-en-continu a:after {
  display: none;
}
@media (min-width: 1024px) {
  .Nav__item.Nav__item-en-continu {
    border-right: none;
    display: none;
  }
}
.Nav__item.Nav__item-search {
  margin-left: auto;
  padding: 1.6rem;
}
.Nav__item.Nav__item-search .Nav__search {
  align-self: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 1.6rem;
}
.Nav__item.Nav__item-search .Nav__search .sr-only {
  height: 1.6rem;
  width: 1.6rem;
}
@media (min-width: 1024px) {
  .Nav__item--extended:before {
    border-right: none;
    display: none;
  }
}
.Nav__item-actualites a:after {
  display: block;
}
.Nav__item-link {
  /* text-transform:uppercase; */
  font-family: "MarrSansCondensed", sans-serif;
}
html:not(.fonts-loaded) .Nav__item-link {
  letter-spacing: -1.607px;
}
html:not(.fonts-loading) .Nav__item-link {
  letter-spacing: 0.05rem;
}
.Nav__item-link:not(.Nav__search) {
  padding: 1.6rem 0.8rem;
}
@media (min-width: 1024px) {
  .Nav__item-link:not(.Nav__search) {
    padding: 1.6rem 1rem;
  }
}
@media (min-width: 1200px) {
  .Nav__item-link:not(.Nav__search) {
    padding: 1.6rem 2rem;
  }
}
.Nav .js-burger-to-show {
  display: none;
  font-size: 1.6rem;
  line-height: 1.88;
}
#nav-desktop .Nav__item-en-continu,
#nav-desktop .Nav__item-home {
  position: relative;
}
@media (min-width: 768px) {
  #nav-desktop {
    position: static;
  }
}
@media (max-width: 1023px) {
  #nav-desktop .Nav__item:last-child:not(.Nav__item--contextual-header) {
    margin-right: 2.4rem;
  }
}
#nav-desktop.Nav--hidden {
  display: none;
}
@media (min-width: 1024px) {
  #nav-desktop.Nav--hidden {
    display: flex;
  }
}
#nav-markup {
  border-bottom: 0.1rem solid #eff0f3;
  overflow-x: auto;
  overflow-y: hidden;
  position: static;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
@media (min-width: 1024px) {
  #nav-markup {
    border-bottom: none;
    overflow: hidden;
  }
}
#nav-markup {
  justify-content: flex-start;
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@media (min-width: 1024px) {
  @supports (font-variation-settings: normal) {
  }
}
.footer {
  -webkit-font-smoothing: antialiased;
  background-color: #2a303b;
  color: #e8eaee;
  padding: 4rem 1.6rem;
  position: relative;
  z-index: 4;
}
@media print {
  .footer {
    display: none;
  }
}
.footer--free .zone--footer {
  max-width: 100rem;
}
.footer .zone {
  margin: 0 auto;
}
.footer {
}
@media (min-width: 768px) {
  .footer {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
.footer__bottom {
  border-top: 0.1rem solid #a4a9b4;
  padding-top: 2.4rem;
}
@media (min-width: 1024px) {
  .footer__bottom .footer__title {
    margin-right: 3.2rem;
  }
  .footer__bottom {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.footer__title {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.28;
  margin: 0;
  position: relative;
  text-transform: uppercase;
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
figure {
  clear: both;
  margin: 2.4rem -2.4rem 0;
}
@media (min-width: 768px) {
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}
@media print {
  figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.6rem;
  }
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@media (min-width: 1024px) {
  @supports (font-variation-settings: normal) {
  }
}
@media (min-width: 1024px) {
  @supports (font-variation-settings: normal) {
  }
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@supports (font-variation-settings: normal) {
}
@media screen and (-ms-high-contrast: active) and (min-width: 1024px),
  screen and (-ms-high-contrast: none) and (min-width: 1024px) {
  .old__zone {
    position: relative;
  }
  .old__zone:after {
    clear: both;
    content: "";
    display: table;
  }
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .icon__home,
  .icon__nav-connexion,
  .icon__nav-en-continu,
  .icon__search {
    background-size: auto;
  }
}
@media screen and (-ms-high-contrast: active) and (min-width: 1024px),
  screen and (-ms-high-contrast: none) and (min-width: 1024px) {
  #nav-markup {
    overflow: hidden;
  }
}
.lmd-btn {
  align-items: center;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 3rem;
  justify-content: center;
  line-height: 1;
  max-width: 100%;
  text-align: center;
  font-family: MarrSans, Arial, Roboto, sans-serif;
  font-weight: 600;
}
/* html:not(.fonts-loaded) .lmd-btn,html:not(.fonts-loaded) .lmd-btn>*{
    letter-spacing:.314px
} */
.lmd-btn--s {
  font-size: 1.2rem;
  padding: 0.7rem 0.6rem;
}
@media (min-width: 340px) {
  .lmd-btn--s {
    padding: 0.7rem 1rem;
  }
}
@media (min-width: 360px) {
  .lmd-btn--s {
    padding: 0.7rem 1.6rem;
  }
}
.lmd-btn--premium {
  background-color: #ffc700;
  color: #2a303b;
}
.lmd-btn--premium:hover {
  background-color: #eab002;
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
@-moz-document url-prefix() {
}
.login-info {
  font-weight: 600;
  font-family: MarrSans, Arial, Roboto, sans-serif;
}
.Nav__item-link {
  font-size: 1.8rem;
}
